{% if product.metafields["custom"]["dimensions"] != blank %}
  <div class="custom-field custom-field__dimensions custom-field__type--single-line-text-field">
    <h3 class="custom-field--title">Dimensions</h3>
    <div class="custom-field--value">
      {{ product.metafields["custom"]["dimensions"] }}

    </div>
  </div>
{% endif %}