{% if page.metafields["custom_fields"]["rating"] != blank %}
  <div class="custom-field custom-field__rating custom-field__type--rating">
    <h3 class="custom-field--title">Rating</h3>
    <div class="custom-field--value">
{{ page.metafields["custom_fields"]["rating"] | metafield_tag }}

    </div>
  </div>
{% endif %}