{% comment %}
  <div id="items-container" class="product-grid-wrapper">

    <!-- Inside your collection loop: -->
    {% for product in collection.products %}
      <!-- Include your existing product card snippet here -->
      {% render 'product-grid', product: product %}
    {% endfor %}


  </div>
  {% if paginate.next %}
    <div class="load-more-wrapper">
      <button id="load-more-button" class="btn">Load More</button>
      <div class="loading-spinner" style="display: none;">Loading...</div>
    </div>
  {% endif %}
  <script>
    // This makes the next page URL accessible to your JavaScript code
    document.getElementById('load-more-button').setAttribute('data-next-page-url', '{{ paginate.next.url }}');
  </script>
{% endcomment %}

<div id="items-container" class="product-grid-wrapper">
  {% paginate collection.products by 4 %}
    <div class="row" id="product-grid" data-next-url="{{ paginate.next.url }}">
      {% for product in collection.products %}
        {% render 'product-grid', product: product %}
      {% endfor %}
    </div>
    {% if paginate.next %}
      <div class="load-more-wrapper" style="border: black 2px solid; padding: 10px 15px ">
        <button
          id="LoadMoreBtn"
          class="btn"
          style="
            border: black 2 px solid ;
            padding: 10px 15px; text-align: center; display: flex;
          "
        >
          Load More
        </button>
        <div class="loading-spinner" style="display: none;">Loading...</div>
      </div>
    {% endif %}
  {% endpaginate %}
</div>

{% if paginate.next %}
  <div class="load-more-button">
    <button id="load-more-button" class="btn">Load More</button>
    <div class="loading-spinner2" style="display: none;">loading..</div>
  </div>

  <div class="load-more-button">
    <button id="load-more-button">
      <div class="loading-spinner2"></div>
    </button>
  </div>
{% endif %}

