{% if section.blocks.size > 0 %}
<section class="hero-section" data-section="hero-banner">
  <div class="hero-slider">
    {% for block in section.blocks %}
      <div class="hero-section-inner">
        <div class="slideImg">
      {% if block.settings.slide_image != blank %}
        {{
        block.settings.slide_image
        | image_url: width: 3840
        | image_tag:
        width: block.settings.slide_image.width,
        sizes: sizes,
        widths: widths
        }}
        {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endif %}

{% schema %}
{
  "name": "Hero banner",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "alt_text",
          "label": "Alt Text",
          "default": "Hero Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero banner",
    }
  ]
}
{% endschema %}
