<section class="lbe-design-gives-back" data-section="lbe-design">
  <div class="lbe-design-text text-center">
    <div class="lbe-design-text-inner">
      <div class="lbe-design-logo">
        {% if section.settings.logo_image != blank %}
          {{
          section.settings.logo_image
          | image_url: width: 1080
          | image_tag:
          width: section.settings.logo_image.width,
          sizes: sizes,
          widths: widths
          }}
          {% endif %}
      </div>
      {% if section.settings.heading != blank %}
        <h3>{{ section.settings.heading }}</h3>
      {% endif %}
     {% if section.settings.description != blank %}
        <div class="rte">
          {{ section.settings.description }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="round-two-white-img">
    {% if section.settings.footer_image != blank %}
          {{
          section.settings.footer_image
          | image_url: width: 1080
          | image_tag:
          width: section.settings.footer_image_image.width,
          sizes: sizes,
          widths: widths
          }}
          {% endif %}
          </div>
</section>

{% schema %}
{
  "name": "LBE Gives Back",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Top Logo Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "LBE Design Gives Back"
    },
    {
      "type": "inline_richtext",
      "id": "description",
      "label": "Description",
      
    },
    {
      "type": "image_picker",
      "id": "footer_image",
      "label": "Image"
    }
  ],
  "presets": [
    {
      "name": "LBE Gives Back",
      "category": "Content"
    }
  ]
}
{% endschema %}


