<div class="page-width page-content" style="text-align: center; padding: 50px 0;">
  <h1 class="title">Page not found</h1>
  <p>The page you are looking for does not exist or has been moved.</p>
  <a href="{{ routes.all_products_collection_url }}" class="button">Continue shopping</a>
</div>

<style>
  .title {
    font-size: 70px;
    margin-bottom: 40px;
    margin-top : 200px;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
</style>

